/**/

/* ==========================================================================
   Variables globales
   ========================================================================== */

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #1fe1f7c0;
    --gris: #757575;
    --grisClaro: #b6b6b6;
}


/* ==========================================================================
   Base / Reset
   ========================================================================== */

/* Truco para uniformidad de texto entre navegadores */
html{
    font-size: 62.5%;
}


body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    color: var(--oscuro);
    background-image: linear-gradient(to top, var(--blanco) 0%, var(--blanco) 100%);
}


/* ==========================================================================
   Tipografía
   ========================================================================== */

h1{
    font-size: 3.8rem;
}


h2{
    font-size: 2.8rem;
}


h3{
    font-size: 1.8rem;
}


h1,
h2,
h3{
    text-align: center;
}


.my-title{
    text-align: center;
    font-size: 3.8rem;
}


.my-title span{
    font-size: 2rem;
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
    margin-top: 4rem;
}


.titulo span{
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}


/* ==========================================================================
   Layout / Contenedores
   ========================================================================== */

.contenedor{
    max-width: 120rem; /* 1200 pixeles porque 1 rem= 10px */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin: 0 auto;
}


/* ==========================================================================
   Navegación principal
   ========================================================================== */

.navegacion-principal{
    background-color: var(--secundario);

    /*Margin es por fuera y padding es por dentro*/
    /*Padding significa relleno o la parte interna de un contenedor*/
    /*Margin significa el espacio externo de un contenedor*/
    /*Box-Model significa basicamente es como se acomoda varios elemtnos html*/
    /*Border significa el borde o la linea que rodea al contenido y al padding*/

    /*Flexbox sirve para aliniar elementos*/
    display: flex;

    /*Acomoda los elementos de manera vertical*/
    flex-direction: column;

    /*Jusitifica el cntenido dependiendo de lo que siga despues del justifica contenido*/
    /* justify-content para FILAS / align-items es para COLUMNAS (flex-direction) */
    justify-content: space-between;

    /*Font-weight es el grosor de las letras y en este caso es en negritas*/
    font-weight: bold;

    /*El tamaño de la letra*/
    font-size: 2rem;

    /*Alinea los elementos al centro*/
    align-items: center;
}


/* Al poner el cursor en el hipervínculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}


.navegacion-principal a{
    color: var(--blanco);

    /*con text-decoration:none remueve el subrayao*/
    text-decoration: none;

    padding: 1rem;
}


.nav-bg{
    background-color: var(--secundario);
}


/* ==========================================================================
   Hero
   ========================================================================== */

/*Hero es la imagen principal de la pagina*/
.hero{
    background-image: url("../img/hero.jpg"); /* ../ es para regresar un nivel
    de directorio ya que la carpeta "img" está afuera de "CSS" */

    /*Evita que la imagen se repita*/
    background-repeat: no-repeat;

    /*Hace que la imagen cubra todo el espacio disponible*/
    background-size: cover;

    /*Centra la imagen*/
    background-position: center;

    /*Altura del hero*/
    height: 450px;

    position: relative; /* El padre siempre debe ser relative */
}


/*Contenido que esta dentro del hero*/
.contenido-hero{
    position: absolute; /*Para manipular la posición. El hijo siempre
    debe ser absolute*/

    background-color: rgba(70, 70, 70, 0.457);

    width: 100%;

    height: 100%;

    /*Alinear vertical y horizontalmente*/
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    text-align: center;
}


/*Titulo que esta dentro del hero*/
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}


/*Ubicacion dentro del hero*/
.ubicacion{
    display: flex;

    align-items: flex-end;

    justify-content: center;

    font-size: 1.8rem;

    color: var(--blanco);
}


/*Quitamos el margen que trae por defecto el parrafo*/
.ubicacion p{
    margin: 0;
}


/* ==========================================================================
   Botones
   ========================================================================== */

.boton{
    background-color: var(--secundario);

    color: var(--blanco);

    text-transform: uppercase; /* Convertir el texto en mayúsculas */

    text-decoration: none;

    font-weight: bold;

    padding: 1rem 3rem;

    margin-top: 3rem;

    border-radius: 0.5rem;

    width: 90%;

    text-align: center;

    border: none; /* Remueve el borde del botón en formulario */
}


.boton:hover{
    cursor: pointer; /* Cambia el cursor a una manita */
}


/* ==========================================================================
    Mis Servicios
   ========================================================================== */

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centrar el contenido de cada servicio */
}


.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}


.servicio p{
    /*Interlineado de texto*/
    line-height: 1.5;
    text-align: center;
}


.servicio .iconos{
    height: 15rem; /* Altura de los iconos */
    width: 15rem; /* Ancho de los iconos */
    background-color: var(--primario);
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: space-evenly; /* Distribuye los iconos de manera uniforme */
    align-items: center; /* Centra los iconos verticalmente */
}


/* ==========================================================================
   Contactos
   ========================================================================== */

.formulario{
    background-color: var(--gris);

    /*ahora MQ*/
    /*¿que es mas pequeño? ¿el 60 rem o el 100% del ancho?*/
    /* si tengo un smartphone de 488px, toma 100% */

    width: 100%;

    margin: 0 auto; /* Centra el formulario horizontalmente */

    padding: 2rem;

    border-radius: 1rem;
}


.formulario fieldset{
    border: none; /* Remueve el borde del fieldset */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos del formulario */
}


.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    color: var(--primario);
}


.campo{
    margin-bottom: 1rem; /* Espacio entre los campos del formulario */
}


.campo label{
    display: block; /* Hace que el label ocupe toda la línea */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espacio entre el label y el input */
    color: var(--blanco);
}


.campo textarea{
    height: 20rem; /* Altura del textarea */
}


/*Cuando la pantalla sea mayor a 780px*/
/*La navegacion cambia de vertical a horizontal*/
@media (min-width: 768px){

    .navegacion-principal{
        flex-direction: row;
    }


    .boton{
        width: auto;
    }


    .servicios{
        display: grid; /* Grid es un sistema de diseño bidimensional que permite organizar elementos en filas y columnas */
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
        /* grid-template-columns:  1fr 1fr 1fr;*/
        /* grid-template-columns:  33.33% 33.33% 33.33%;*/
    }

}