/**/
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/*Truco para uniformidad de texto en el navegador*/
html{
    front-size: 62.5%;
}

body{
    front-size: 16px;
}

.my-title{
    text-align: center;
    font-size: 3.8rem;
}
.my-title  span{
    font-size: 2rem;
}

.navegador-principal{
    background-color: var(--secundario);
    /*Margin es por fuera y padding es por dentro*/
    /*Padding significa relleno o la parte interna de un contenedor*/
    /*Margin significa el espacio externo de un contenedor*/
    /*Box-Model significa basicamente es como se acomoda varios elemtnos html*/
    /*Border significa el borde o la linea que rodea al contenido y al padding*/

    /*Flexbox sirve para aliniar elementos*/
    display: flex;

    /*Jusitifica el cntenido dependiendo de lo que siga despues del justifica contenido*/
    justify-content: space-between;

    /*Font-weight es el grosor de las letras y en este caso es en negritas*/
    font-weight: bold;

    /*El tamaño de la letra*/
    font-size: 2rem;
}

.navegador-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegador-principal a {
    color: var(--blanco);
    /*con text-decoration:none remueve el subrayao*/
    text-decoration: none;
    padding: 1rem;
}

.contenedor{
    /*margin{top,bottom,right y left} se pueden resumir en estas lineas*/
    width: 120%;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}